@tailwind base;
@tailwind components;
@tailwind utilities;

.border-radius-20 {
    border-radius: 20px;
}

.table-auto {
    border-spacing: 0 1rem;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    width: 66px;
    height: 28px;
    background: #F9F5FF;
    border-radius: 16px;
    color: #6941C6;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: center;
}

.company-style {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    width: 70px;
    height: 28px;
    background: #ECFDF3;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #027A48;
    mix-blend-mode: multiply;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.status .dot {
    width: 8px;
    height: 8px;
    background: #12B76A;
    border-radius: 50%;
    margin-right: 4px;
}

.status span {
    font-weight: 600;
    font-size: 13px;
    color: #027A48;
}

.text-style {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #667085;
}

.table-head {
    color: #222222;
}

.border-separate {
    padding: 0 0 0 1.7rem;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    position: relative;
}

.rows-per-page {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    background: #F7F7F8;
    border-radius: 70px;
    width: 95px;
    height: 32px;
    margin-left: auto;
}

.rows-per-page span {
    font-size: 12px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #000000;
    color: #FFFFFF;
}

.icon {
    width: 12px;
    height: 12px;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 237px;
    height: 37px;
    background: #F7F7F8;
    border-radius: 12px;
}

.search-input {
    border: none;
    width: 100%;
    background: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #838784;
}

.search-icon {
    width: 16px;
    height: 16px;
    background: url('/src/assets/search.svg') no-repeat center;
    background-size: contain;
}

.bg-black {
    background-color: black !important;
}

.text-white {
    color: white  !important;;
}

.clear-icon {
    color: white  !important;;
}

.filter-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #EEEEEE;
    border-radius: 99px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #2C2C2C;
    background: white;
    cursor: pointer;
}

.filter-button:hover {
    background: #F0F0F0;
}

.filter-dropdown-wrapper {
    position: relative;
}

.filter-dropdown-wrapper .absolute {
    width: 211px;
    background: #FFFFFF;
    box-shadow:
            -2px -2px 9.4px rgba(190, 190, 190, 0.25),
            28px 80px 34px rgba(41, 41, 41, 0.01),
            2px 22px 31.3px rgba(178, 178, 178, 0.05),
            7px 20px 21px rgba(41, 41, 41, 0.09),
            2px 5px 12px rgba(41, 41, 41, 0.1);
    border-radius: 16px;
    padding: 6px;
    gap: 2px;
    z-index: 3;
}

.filter-count {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.clear-icon {
    cursor: pointer;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    color: #888888;
}

.clear-icon:hover {
    color: #333333;
}

.filter-dropdown-wrapper .rectangle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    border: 2px solid #C0C0C0;
    border-radius: 30px;
    box-sizing: border-box;
}

.form-checkbox {
    width: 16px;
    height: 16px;
    accent-color: #4A90E2;
}

.filter-dropdown-wrapper label:hover {
    background-color: #f9f9f9;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 237px;
    height: 37px;
    background: #F7F7F8;
    border-radius: 12px;
}

.search-input {
    border: none;
    width: 100%;
    background: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #838784;
}

.search-icon {
    width: 16px;
    height: 16px;
    background: url('/src/assets/search.svg') no-repeat center;
    background-size: contain;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 16px;
    border: 1px solid #EEEEEE;
    border-radius: 99px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #2C2C2C;
    background: white;
    cursor: pointer;
}

.filter-button:hover {
    background: #F0F0F0;
}

.option-color {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
}

.form-checkbox {
    accent-color: #4A90E2;
}

.filter-dropdown-wrapper label:hover {
    background-color: #f9f9f9;
}

.button-status {
    min-width: 100px;
}
